.publication-card {
  border-bottom: 1px solid #e0e0e0;
  padding: 2rem 0;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.publication-card:hover {
  background-color: #f9f9f9;
  border-radius: 10px;
}

.pub-date-col {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.pub-date {
  background-color: #6c757d;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  font-weight: 500;
  font-size: 0.9rem;
}

.pub-details-col {
  padding-left: 2rem;
}

.pub-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.pub-authors {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.author-icon {
  margin-right: 4px;
}

.author-bold {
    font-weight: bold;
    color: #000;
}

.pub-venue {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1rem;
}

.pub-links a {
  margin-right: 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #007bff;
}

.pub-links a:hover {
  text-decoration: underline;
}

.pub-links svg {
  margin-right: 4px;
}

.pub-tags {
    margin-top: 1rem;
}

.pub-tags .badge {
    margin-right: 0.5rem;
}

.pub-citation-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.citation-badge-container {
  position: relative;
}

.citation-badge {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.citation-count {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} 